<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish ;else spinner">
    <div fxFlex>
      <md-card >
          <md-card-header>
              <md-card-title>
                    <h3>{{dish.name | uppercase }}</h3>
              </md-card-title>              
          </md-card-header>
          <img md-card-image src="{{dish.image}}" alt="{{dish.name}}">
          <md-card-content>
              <p>{{dish.description}}</p>
          </md-card-content>
           <md-card-actions>
            <button md-button [routerLink] = "['/dishdetail',prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
            <button md-button (click)="goBack()">BACK</button>
            <span class="flex-spacer"></span>
            <button md-button [routerLink] = "['/dishdetail',next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
          </md-card-actions> 
      </md-card>
    </div>     
  </div>

  <div fxFlex="40" *ngIf="dish ;else spinner">
    <h3> Comments </h3>
    <md-list *ngIf="dish">
      <md-list-item *ngFor="let commentObj of dish.comments">
        <h3 md-line> {{commentObj.comment}} </h3>
        <p md-line>
          <span> {{commentObj.rating}} stars </span>          
        </p>
        <span md-line> -- {{commentObj.name}} {{ commentObj.date | date }} </span>
      </md-list-item>
    </md-list>
    <div [hidden] = "commentForm.invalid">
        <md-list>
            <md-list-item>
                <h3 md-line> {{ commentForm.value.comment }} </h3>
                <p md-line>
                  <span> {{ commentForm.value.rating }} stars </span>          
                </p>
                <span md-line> -- {{commentForm.value.name}}</span>
              </md-list-item>
        </md-list>
      </div>
    <div>
        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <p>
                <md-input-container class="full-width">
                   <input mdInput formControlName="name" placeholder="Author Name" type="text" required>
                     <md-hint>
                        <span [hidden]="!(formErrors.name)">
                         {{ formErrors.name }}
                        </span>
                     </md-hint> 
                </md-input-container>
            </p>
            <md-slider [thumbLabel]="true" [tickInterval]="1" [color]="black" min="1" max="5"  step ="1" formControlName="rating"></md-slider>
            <p>
                <md-input-container class="full-width">
                    <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
                    <md-hint>
                        <span [hidden]="!(formErrors.comment)">
                         {{ formErrors.comment }}
                        </span>
                     </md-hint> 
                </md-input-container>
            </p>
            <button [disabled]="commentForm.invalid"  type="submit" md-button class="background-primary text-floral-white">
              Submit
            </button>
        </form>
    </div>
  </div>
  <ng-template #spinner>
      <md-spinner></md-spinner>
      <h4> Loading... Please Wait </h4>
    </ng-template>
</div>